# Polars

- [Website](https://pola.rs/)
- [Github repo](https://github.com/pola-rs/polars)


[Pandas](https://pandas.pydata.org/) (the Python package) is a great easy-to-use library for exploring and apply transformations to dataframes. However, one of its limitations is that it doesn't perform well with larger datasets. Pandas stores data in-memory and has a memory limit of 100GB. 

For use cases where you're dealing with data beyond the 100GB memory threshold, this is where Polars shines. Polars, which was built with Rust and uses Apache Arrow's columnar format, is said to execute common operations [10-100 times faster](https://blog.jetbrains.com/dataspell/2023/08/polars-vs-pandas-what-s-the-difference/#:~:text=As%20you%20can%20see%2C%20Polars,out%2Dof%2Dmemory%20errors.) than Pandas . With Polars' Lazy DataFrame, we can also handle larger-than-memory data beyond the 100GB threshold.

```
pip install polars
```

In [5]:
import polars as pl

df = pl.read_csv("data/airbnb_nyc_2019.csv")

Polars is able to read several file formats including:
- csv 
- json 
- parquet 

You can check out the full list of Polars functions [here](https://pola-rs.github.io/polars/py-polars/html/reference/expressions/functions.html). Some of these functions are identical to what Pandas offers (e.g., head, max, mean, n_unique).

In [11]:
df.head(2)

shape: (2, 16)
┌──────┬─────────────┬─────────┬───────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ id   ┆ name        ┆ host_id ┆ host_name ┆ … ┆ last_revie ┆ reviews_pe ┆ calculated ┆ availabili │
│ ---  ┆ ---         ┆ ---     ┆ ---       ┆   ┆ w          ┆ r_month    ┆ _host_list ┆ ty_365     │
│ i64  ┆ str         ┆ i64     ┆ str       ┆   ┆ ---        ┆ ---        ┆ ings_count ┆ ---        │
│      ┆             ┆         ┆           ┆   ┆ str        ┆ f64        ┆ ---        ┆ i64        │
│      ┆             ┆         ┆           ┆   ┆            ┆            ┆ i64        ┆            │
╞══════╪═════════════╪═════════╪═══════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 2539 ┆ Clean &     ┆ 2787    ┆ John      ┆ … ┆ 2018-10-19 ┆ 0.21       ┆ 6          ┆ 365        │
│      ┆ quiet apt   ┆         ┆           ┆   ┆            ┆            ┆            ┆            │
│      ┆ home by the ┆         ┆           ┆   ┆            ┆            ┆            ┆            │
│      ┆ pa…         ┆         ┆           ┆   ┆            ┆            ┆            ┆            │
│ 2595 ┆ Skylit      ┆ 2845    ┆ Jennifer  ┆ … ┆ 2019-05-21 ┆ 0.38       ┆ 2          ┆ 355        │
│      ┆ Midtown     ┆         ┆           ┆   ┆            ┆            ┆            ┆            │
│      ┆ Castle      ┆         ┆           ┆   ┆            ┆            ┆            ┆            │
└──────┴─────────────┴─────────┴───────────┴───┴────────────┴────────────┴────────────┴────────────┘

### Select

The `select` method allows you to select the columns that you care about. You can also chain methods together as shown below.

In [14]:
df.select(pl.col("id", "name")).tail()

shape: (5, 2)
┌──────────┬───────────────────────────────────┐
│ id       ┆ name                              │
│ ---      ┆ ---                               │
│ i64      ┆ str                               │
╞══════════╪═══════════════════════════════════╡
│ 36484665 ┆ Charming one bedroom - newly ren… │
│ 36485057 ┆ Affordable room in Bushwick/East… │
│ 36485431 ┆ Sunny Studio at Historical Neigh… │
│ 36485609 ┆ 43rd St. Time Square-cozy single… │
│ 36487245 ┆ Trendy duplex in the very heart … │
└──────────┴───────────────────────────────────┘

### Filter

The `filter` method really reminds me of [PySpark's filter()](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrame.filter.html).

In [21]:
import datetime as datetime 

df.filter(
    (pl.col("number_of_reviews") > 100) & (pl.col("price") < 300)
).shape

(2890, 16)

### Casting to a different datatype

Casting a series to another datatype took a while to figure out but it's pretty straight-forward. Also very similar to PySpark's syntax.

In [43]:
df.drop_nulls(
    subset="last_review"
).with_columns(
    pl.col("last_review").str.to_datetime("%Y-%m-%d")
).select(
    pl.col("last_review")
).head(5)

shape: (5, 1)
┌─────────────────────┐
│ last_review         │
│ ---                 │
│ datetime[μs]        │
╞═════════════════════╡
│ 2018-10-19 00:00:00 │
│ 2019-05-21 00:00:00 │
│ 2019-07-05 00:00:00 │
│ 2018-11-19 00:00:00 │
│ 2019-06-22 00:00:00 │
└─────────────────────┘

### Grouping By

In [47]:
df.group_by(
    "neighbourhood_group"
).agg(
    pl.col("id").count().alias("number_of_listings")
)

shape: (5, 2)
┌─────────────────────┬────────────────────┐
│ neighbourhood_group ┆ number_of_listings │
│ ---                 ┆ ---                │
│ str                 ┆ u32                │
╞═════════════════════╪════════════════════╡
│ Staten Island       ┆ 373                │
│ Queens              ┆ 5666               │
│ Bronx               ┆ 1091               │
│ Manhattan           ┆ 21661              │
│ Brooklyn            ┆ 20104              │
└─────────────────────┴────────────────────┘

### Exploring the Lazy vs Eager API